* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kelson Sans RU', sans-serif;
  background: #f9fafd;
  /* background: #000; */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
}

ul {
  padding-left: 0;
}
